/* 데스크탑 버전 (796px 이상) */
@media screen and (min-width: 769px) {
  header {
    height: 10.2rem;
    padding: 0;

    justify-content: center;
    width: 100%;
  }

  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: calc(100% - 8rem);
    max-width: 128rem;

    height: 100%;
    margin: 0 auto;

    padding: 0;
  }

  h1 a img {
    width: 13rem;
    height: 4rem;
  }

  .menu-toggle-btn {
    display: none;
  }

  .nav-bar {
    /* 모바일에서 설정했던 사이드바 스타일 초기화(Reset) */
    display: block;
    position: static; /* fixed 해제 */
    width: auto;
    height: auto;
    background-color: transparent; /* 배경 투명 */
    box-shadow: none; /* 그림자 제거 */
    padding: 0;

    transform: none; /* 애니메이션 제거 */
    transition: none;
  }

  .close-btn {
    display: none;
  }

  .menu-list {
    flex-direction: row;
    align-items: center;
    gap: 3rem;
  }

  .menu-list li a {
    font-weight: 400;
    color: var(--color-text);
    margin-left: 0;
  }

  .nav-download-btn {
    margin-left: 1rem;
    margin-top: 0;
    max-width: 14.1rem;
    height: 5.2rem;
    padding: 1.5rem 3rem;
    font-size: 1.6rem;
  }

  body {
    padding-top: 10.2rem;
  }

  .hero {
    padding: 0;
    display: block;
    margin: 0;
  }

  .hero-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 13.1rem;

    width: 100%;
    max-width: 128rem;
    margin: 0 auto;
    padding: 0 4rem;
  }

  .hero-text-group {
    flex: 1;
    text-align: left;
    /* 최소 너비는 없애거나 아주 작게 잡아서 겹침 방지 */
    min-width: 35.8rem;
  }

  .hero-text-group h3 {
    font-size: 4.8rem;
    line-height: 6.4rem;
    /* 내용물만큼 늘어나게 둠 */
    height: auto;
    max-width: 100%;
    margin: 0 0 4rem 0;
  }

  .hero-text-group p {
    font-size: 1.6rem;
    line-height: 2.4rem;
    margin: 0 0 4rem 0;
  }

  .download-btn {
    margin: 0; /* 왼쪽 정렬 */
    max-width: 14.1rem;
    height: 5.2rem;
    padding: 1.5rem 3rem;
    font-size: 1.6rem;
  }

  .hero img {
    /* 텍스트와 균형 맞추기 */
    flex: 1;
    width: 100%;
    max-width: 41.5rem; /* 너무 커지는 것 방지 */

    /* 높이 자동! 비율 유지 */
    height: auto;
    margin: 0;

    min-width: 30rem;
  }

  .about-feature {
    display: flex;
    flex-direction: row; /* 이미지(왼) - 텍스트(오) */
    justify-content: center;
    align-items: center;

    gap: 11rem;

    width: 100%;
    max-width: 128rem;
    margin: 0 auto;

    padding: 8rem 8rem 11rem;
  }

  .about-feature img {
    /* Flex 설정: 줄어들 순 있지만(1), 억지로 늘어나지 않게(0), 기본 크기(auto) */
    flex: 0 1 auto;
    width: 100%;
    max-width: 66rem;
    height: auto;
    aspect-ratio: 660/390;
    border-radius: 3rem;
    margin: 0;
  }

  .about-text-group {
    flex: 0 1 auto;
    width: 100%;
    max-width: 51rem;
    margin: 0;
  }

  .about-text-group h3 {
    font-size: 3.6rem;
    line-height: 4.8rem;
    margin-bottom: 3.6rem;
    text-align: center;
  }
  .about-text-group p {
    font-size: 1.6rem;
  }

  .gallery-feature {
    padding: 0 0 11rem;
    max-width: 128rem;
    margin: 0 auto;
  }

  .gallery-top-text-group {
    max-width: 73.7rem;
  }

  .gallery-top-text-group h2 {
    font-size: 4.8rem;
    line-height: 6.4rem;
    margin-bottom: 3.6rem;
  }

  .gallery-top-text-group p {
    font-size: 1.6rem;
    margin-bottom: 8rem;
  }

  .gallery-scroll {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 7.3rem;
    overflow-x: visible;

    width: 100%;
    max-width: none;
    margin: 0 auto 8rem;
    padding: 0;
  }

  .gallery-scroll li {
    flex: none;

    width: 100%;
    height: auto;
    aspect-ratio: 1/1;

    border-radius: 3rem;
    box-shadow: 1rem 1rem 3rem rgba(0, 0, 0, 0.25);
  }

  .gallery-bottom-text-group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    max-width: 94rem;
    width: 100%;
    margin: 0 auto;
    gap: 5.4rem;
  }

  .gallery-bottom-text-group p {
    margin: 0;
    max-width: 73.7rem;
  }

  .learn-more-btn {
    margin: 0;
    width: auto;
    min-width: 14.9rem;
    height: 5rem;
    padding: 1.5rem 3rem;
    font-size: 1.6rem;

    flex-shrink: 0;
  }

  .subscribe {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    max-width: 128rem;
    margin: 0 auto 24.4rem;
    padding: 5rem 6rem;

    border-radius: 3rem;
  }

  .subs-text-group {
    max-width: 49rem;
    margin: 0 14rem 0 0;
  }

  .subs-text-group h3 {
    font-size: 3.6rem;
    line-height: 4.8rem;
    margin: 0 0 1.4rem 0;
  }

  .subs-text-group p {
    margin: 0;
  }

  .subscribe form {
    flex-direction: row;

    position: relative;

    width: auto; /* 내용물만큼만 차지 */
    flex: 1; /* 남은 공간 차지하되 */
    max-width: 53rem; /* 폼 전체 너비 제한 (입력창 + 버튼) */

    gap: 0;
  }

  .subscribe input[type="email"] {
    flex: 1; /* 입력창이 남은 공간 다 차지 */
    width: 100%;
    height: 6rem;
    padding: 1.9rem 27rem 1.9rem 6.3rem;

    font-size: 1.6rem;
    background-position: 2.3rem center;
    background-size: 2.4rem;
  }

  .subs-btn {
    position: absolute;
    top: 50%;
    right: 0.5rem;
    transform: translateY(-50%);

    margin: 0;
    width: auto;
    max-width: 13.8rem;
    height: 5rem;
    padding: 1.5rem 3rem;
    font-size: 1.6rem;
    flex-shrink: 0;
  }

  .thanks-modal {
    padding: 6rem 11rem 4rem 10.8rem;
    width: 60rem;
    height: 40rem;

    box-shadow: 0 0 3rem rgba(0, 0, 0, 0.2);
  }

  .thanks-modal img {
    width: 11rem;
    height: 11.2rem;
    margin-bottom: 2.4rem;
  }

  .thanks-modal h2 {
    font-size: 3.6rem;
    line-height: 4.8rem;
    margin-bottom: 1.2rem;
  }

  .thanks-modal p {
    font-size: 1.4rem;
    margin-bottom: 3.4rem;
  }

  .thanks-btn {
    margin: 0 auto;
    min-width: 19.1rem;
    height: 5.2rem;
    padding: 1.5rem 3rem;
    font-size: 1.6rem;
    border-radius: 4rem;
    white-space: nowrap;
  }

  footer {
    display: block; /* Grid 해제 */

    position: relative;
    width: 100%;
    padding: 4.5rem 0;
  }

  .footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    max-width: 128rem;
    margin: 0 auto;

    padding: 0 4rem;

    grid-template-columns: none;
    grid-template-rows: none;
    row-gap: 0;
  }

  footer::before {
    top: -34rem;
    height: 34rem;
    background-size: cover;
  }

  .footer-container > a img {
    width: 22.6rem;
    height: auto;
  }

  .sns-links {
    margin: 0;
  }

  .sns-links ul {
    gap: 2rem;
  }

  .sns-links img {
    width: 4rem;
    height: 4rem;
  }

  .quick-links {
    display: none;
  }

  .scroll-top-btn {
    display: block;
  }

  .scroll-top-btn {
    opacity: 1;
    pointer-events: auto;
  }

  .scroll-top-btn img {
    width: 5rem;
    height: 5rem;
  }

  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  .scroll-top-btn.scrolling img {
    animation: spin 0.5s linear infinite; /* 0.5초마다 한 바퀴, 무한 반복 */
  }
}
