/* 리사이즈 중 애니메이션 방지 */
.resize-animation-stopper * {
  animation: none !important;
  transition: none !important;
}

@font-face {
  font-family: "SpokaHanSansNeo";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Thin.woff")
    format("woff");
  font-weight: 100;
  font-display: swap;
}

@font-face {
  font-family: "SpokaHanSansNeo";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Light.woff")
    format("woff");
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: "SpokaHanSansNeo";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Regular.woff")
    format("woff");
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: "SpokaHanSansNeo";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Medium.woff")
    format("woff");
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "SpokaHanSansNeo";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Bold.woff")
    format("woff");
  font-weight: 700;
  font-display: swap;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

:root {
  --color-primary: #f2e9d8;
  --color-secondary: #d97652;
  --color-third: #263140;
  --color-text: #000;
  --color-placeholder: #767676;
  --color-bg: #fff;
  /* 간격을 나중에 중간에 끼워 넣기 편하게 설계 */
  --z-minus: -1; /* 배경 장식용 */
  --z-default: 1; /* 일반 컨텐츠 중 포지셔닝이 필요한 경우 */
  --z-content-priority: 50; /* 중요 콘텐츠용 */
  --z-fixed: 100; /* 헤더 (Sticky/Fixed) */
  --z-floating: 200; /* 탑 버튼 등 떠다니는 요소 */
  --z-nav: 500; /* 모바일 네비게이션 (헤더를 덮어야 함) */
  --z-modal: 1000; /* 모달, 팝업 (최상위) */
}

html {
  font-family: "SpokaHanSansNeo", sans-serif;
  font-size: 10px;
}

body {
  background-color: var(--color-bg);
  color: var(--color-text);
  font-size: 1.4rem;
}

header {
  background-color: var(--color-primary);
  color: var(--color-text);
  font-size: 1.4rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: var(--z-fixed);
}

main {
  background-color: transparent;
  color: var(--color-text);
  font-size: 1.4rem;
  font-weight: 400;
}

footer {
  background-color: var(--color-bg);
  color: var(--color-placeholder);
  font-size: 1.4rem;
}

.thanks-modal::backdrop {
  background-color: rgba(0, 0, 0, 0.4);
}

/* 모바일 버전 */
header {
  padding: 2.4rem 2rem;
  height: 7.6rem;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%; /* 헤더 높이만큼 꽉 채움 */
}

h1 a {
  display: block;
}

h1 a img {
  width: 9.2rem;
  height: 2.8rem;
}

.menu-toggle-btn {
  background: transparent;
  border: none;
  cursor: pointer;
}

.menu-toggle-btn img {
  width: 3.2rem;
  height: 3.2rem;
}

.nav-bar {
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  width: 70%;
  height: 100vh;
  background-color: var(--color-third);
  box-shadow: -0.2rem 0 1rem rgba(0, 0, 0, 0.1); /* 그림자 효과 */
  z-index: var(--z-nav);
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
  padding: 2.2rem;
}

.nav-bar.active {
  transform: translateX(0);
}

.close-btn {
  background: transparent;
  border: none;
  cursor: pointer;
  margin-bottom: 6.7rem;
}

.close-btn img {
  width: 3.2rem;
  height: 3.2rem;
}

.menu-list {
  display: flex;
  flex-direction: column;
  gap: 2.8rem;
}

.menu-list li a {
  font-size: 1.6rem;
  font-weight: 700;
  color: #fff;
  text-decoration: none;
  margin-left: 2.8rem;
}

.menu-list li a:hover {
  color: var(--color-secondary);
}

.nav-download-btn {
  margin-left: 1.8rem;
  margin-top: 2.2rem;
  display: block;
  max-width: 11.9rem;
  height: 4rem;
  padding: 1rem 2.4rem;
  background-color: var(--color-secondary);
  color: #fff;
  font-weight: 700;
  border: none;
  border-radius: 4rem;
  cursor: pointer;
  transition: opacity 0.3s;
}

.nav-download-btn:hover {
  opacity: 0.9;
}

body {
  padding-top: 7.6rem;
}

main {
  display: flex;
  flex-direction: column;

  width: 100%; /* 화면 꽉 차게 */
  overflow-x: hidden; /* 가로 스크롤 방지 (안전장치) */
}

.hero {
  background-color: var(--color-primary);
  width: 100%;
  height: auto;
  padding: 4rem 3.2rem 0rem;
  text-align: center;
}

.hero-text-group h3 {
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 3.2rem;
  max-width: 32.6rem;
  height: 9.6rem;
  margin: 0 auto 2rem;
  word-break: keep-all;
}

.hero-text-group p {
  line-height: 2.2rem;
  margin: 0 2.53rem;
}

.download-btn {
  margin: 2rem auto 0;
  display: block;
  max-width: 11.9rem;
  height: 4rem;
  padding: 1rem 2.4rem;
  background-color: var(--color-secondary);
  color: #fff;
  font-weight: 700;
  border: none;
  border-radius: 4rem;
  cursor: pointer;
  transition: opacity 0.3s;
}

.download-btn:hover {
  opacity: 0.9;
}

.hero img {
  display: block;
  width: 100%;
  max-width: 20.55rem;
  height: 36.2rem;
  margin: 3.2rem auto 0;
}

.about-feature {
  padding: 4rem 3.2rem 6rem;
}

.about-feature img {
  display: block;
  width: 100%;
  max-width: 32.6rem;
  height: 19rem;
  object-fit: cover;
  object-position: center 35%;
  border-radius: 1.8rem;
  margin: 0 auto;
  box-shadow: 1rem 1rem 3rem rgba(0, 0, 0, 0.25);
}

.about-text-group {
  margin: 3.2rem auto 0;
  text-align: left;
  max-width: 32.6rem;
}

.about-text-group h3 {
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 3.2rem;
  margin-bottom: 1.6rem;
  word-break: keep-all;
}

.about-text-group p {
  line-height: 2.2rem;
}

.gallery-feature {
  padding: 0 0 6rem;
  width: 100%;
}

.gallery-top-text-group {
  text-align: center;
  max-width: 32.6rem;
  margin: 0 auto;
}

.gallery-top-text-group h2,
.gallery-top-text-group p {
  /* 내부 요소들은 그냥 꽉 차게 둠 */
  width: 100%;
  max-width: none;
}

.gallery-top-text-group h2 {
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 3.2rem;
  margin-bottom: 1.6rem;
  word-break: keep-all;
  color: var(--color-secondary);
}

.gallery-top-text-group p {
  line-height: 2.4rem;
  margin-bottom: 5rem;
}

.highlight {
  color: var(--color-secondary);
  font-weight: 500;
}

.gallery-scroll {
  display: flex;
  gap: 2rem;

  /* 스크롤 설정 */
  overflow-x: auto; /* 내용 넘치면 가로 스크롤 생성 */
  scroll-behavior: smooth; /* 부드러운 스크롤 */

  /* 스크롤바 숨기기 (디자인적 요소) */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE, Edge */

  /* 화면보다 내용물이 작을 때는 중앙 정렬 */
  width: fit-content; /* 내용물 크기만큼만 너비 차지 */
  max-width: 100%; /* 화면 넘어가면 100%까지만 (스크롤 생김) */
  margin: 0 auto; /* 중앙 정렬 */

  padding: 0 3.2rem 2rem 3.2rem; /* 좌우 여백 2rem, 아래 여백(그림자 잘림 방지) */
}

/* 크롬, 사파리 등에서 스크롤바 숨기기 */
.gallery-scroll::-webkit-scrollbar {
  display: none;
}

.gallery-scroll li {
  /* 플렉스 아이템 설정: 줄어들지 않게(shrink: 0) 고정 */
  flex: 0 0 auto;
  width: 26rem;
  height: 26rem;
  border-radius: 1.8rem;
  box-shadow: 1rem 2rem 2rem rgba(0, 0, 0, 0.25);

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.cattower-hodu {
  background-image: url(../img/cat-tower.jpg);
}

.back-hodu {
  background-image: url(../img/cat-sit-down-back.jpg);
}

.front-hodu {
  background-image: url(../img/cat-sit-down-front.jpg);
}

.gallery-bottom-text-group {
  text-align: left;
  margin: 0 auto;
  max-width: 32.6rem;
}

.gallery-bottom-text-group p {
  margin-top: 4.8rem;
  font-size: 1.6rem;
  line-height: 2.4rem;
  word-break: keep-all;
  margin-bottom: 2.3rem;
}

.learn-more-btn {
  display: block;
  margin-left: auto;
  margin-right: 0;
  min-width: 12.6rem;
  height: 4rem;
  padding: 1rem 2.4rem;
  background-color: var(--color-secondary);
  color: #fff;
  font-weight: 700;
  border: none;
  border-radius: 4rem;
  cursor: pointer;
  transition: opacity 0.3s;
}

.learn-more-btn:hover {
  opacity: 0.9;
}

.subscribe {
  padding: 3.6rem 3.2rem 3rem;
  border-radius: 1.8rem;
  background-color: var(--color-third);
  max-width: 32.6rem;
  margin: 0 auto 15.8rem;
  position: relative;
  z-index: var(--z-content-priority);
}

.subs-text-group h2 {
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 3.2rem;
  color: #fff;
  margin: 0 6.8rem 1.2rem 0;
}

.subs-text-group p {
  font-size: 1.4rem;
  line-height: 2rem;
  color: var(--color-primary);
  margin-bottom: 3rem;
  word-break: keep-all;
}

.subscribe form {
  display: flex;
  flex-direction: column; /* 세로 배치 */
  gap: 1.6rem;
  width: 100%;
}

.subscribe input[type="email"] {
  width: 100%;
  height: 4rem;
  border: none;
  border-radius: 6rem;
  padding: 1.1rem 7.2rem 1.1rem 4.6rem;

  font-size: 1.2rem;

  background-image: url(../img/mail.svg);
  background-repeat: no-repeat;
  background-position: 1.6rem center;
  background-size: 1.8rem;
}

.subscribe input::placeholder {
  color: var(--color-placeholder);
}

.subs-btn {
  margin-left: auto;
  margin-right: 0;
  display: block;
  max-width: 11.7rem;
  height: 4rem;
  padding: 1rem 2.4rem;
  background-color: var(--color-secondary);
  color: #fff;
  font-weight: 700;
  border: none;
  border-radius: 4rem;
  cursor: pointer;
  transition: opacity 0.3s;
}

.subs-btn:hover {
  opacity: 0.9;
}

.thanks-modal {
  border: none;
  border-radius: 3rem;
  padding: 4rem 5rem 3rem;
  width: 30rem;
  height: 30rem;

  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.2);

  background-image: url(../img/modal-bg-img.png);
  background-size: cover;
}

.thanks-modal[open] {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.thanks-modal img {
  width: 6rem;
  height: 6.2rem;
  margin-bottom: 2.2rem;
}

.thanks-modal h2 {
  font-size: 2.4rem;
  font-weight: 700;
  color: var(--color-secondary);
  margin-bottom: 0.8rem;
}

.thanks-modal p {
  line-height: 2rem;
  margin-bottom: 2.6rem;
  word-break: keep-all;
}

.thanks-btn {
  display: block;
  margin: 0 1.8rem 0;
  width: 100%;
  max-width: 16.3rem;
  height: 4rem;
  padding: 1rem 2.4rem;
  background-color: var(--color-secondary);
  color: #fff;
  font-weight: 700;
  border: none;
  border-radius: 2rem;
  cursor: pointer;
  transition: opacity 0.3s;
}

.thanks-btn:hover {
  opacity: 0.9;
}

footer {
  position: relative;
  z-index: var(--z-default);
  padding: 3rem 2rem 2.4rem;
}

.footer-container {
  /* Grid 설정 */
  display: grid;
  /* 2행 2열 구조:
     [로고(1행1열)] [퀵링크(1행2열)]
     [SNS (2행1열)] [   빈칸    ] */
  grid-template-columns: auto auto; /* 너비는 내용물에 맞춤 */
  grid-template-rows: auto auto; /* 높이는 내용물에 맞춤 */
  justify-content: space-between; /* 양쪽 끝으로 배치 */
  align-items: start; /* 상단 정렬 */
  row-gap: 5.6rem; /* 행 사이 간격 (로고와 SNS 사이) */
  width: 100%;
}

footer::before {
  content: "";
  position: absolute;
  z-index: var(--z-minus);
  top: -24rem;
  left: 0;
  width: 100%;
  height: 24.1rem;

  background-image: url(../img/cat-look-something.jpg);
  background-repeat: no-repeat;
  background-position: center 40%;
  background-size: 100% auto;

  opacity: 0.6;
}

.footer-container > a {
  grid-column: 1 / 2; /* 첫 번째 열에 배치 */
  grid-row: 1 / 2; /* 첫 번째 행에 배치 */
}

.footer-container > a img {
  width: 11.2rem;
  height: auto;
  display: block;
}

.sns-links {
  grid-column: 1 / 2; /* 첫 번째 열에 배치 (로고 아래) */
  grid-row: 2 / 3; /* 두 번째 행에 배치 */
}

.sns-links ul {
  display: flex;
  gap: 1.6rem;
}

.sns-links a {
  display: block; /* 클릭 영역 확보 */
  transition: opacity 0.3s;
}

.sns-links a:hover {
  opacity: 0.9;
}

.sns-links img {
  background-color: var(--color-secondary);
  border-radius: 50%;
  width: 3.2rem; /* 아이콘 크기 통일 */
  height: 3.2rem;
}

.quick-links {
  grid-column: 2 / 3;
  grid-row: 1 / 3;

  /* 수직 정렬을 중앙으로 변경하여 아래로 내림 */
  align-self: center;
  margin-top: 2rem;
}

.quick-links ul {
  display: flex;
  flex-direction: column;
  text-align: right;
  gap: 1.6rem;
}

.quick-links a {
  font-size: 1.4rem;
  color: var(--color-placeholder);
  font-weight: 400;
  transition: color 0.3s;
  align-items: flex-end;
  text-decoration-line: none;
}

.quick-links a:hover {
  color: var(--color-secondary);
}

.scroll-top-btn {
  display: none;
  position: fixed;
  bottom: 2.3rem;
  right: 2.4rem;
  z-index: var(--z-floating);

  background: transparent;
  border: none;
  cursor: pointer;

  opacity: 0; /* JS로 페이드인 효과 */
  transition: opacity 0.3s ease-in-out;
  pointer-events: none; /* 안 보일 땐 클릭 불가 */
}
