@font-face {
  font-family: "SpokaHanSansNeo";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Thin.woff")
    format("woff");
  font-weight: 100;
  font-display: swap;
}

@font-face {
  font-family: "SpokaHanSansNeo";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Light.woff")
    format("woff");
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: "SpokaHanSansNeo";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Regular.woff")
    format("woff");
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: "SpokaHanSansNeo";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Medium.woff")
    format("woff");
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "SpokaHanSansNeo";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Bold.woff")
    format("woff");
  font-weight: 700;
  font-display: swap;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

:root {
  --color-primary: #f2e9d8;
  --color-secondary: #d97652;
  --color-third: #263140;
  --color-text: #000;
  --color-placeholder: #767676;
  --color-bg: #fff;
}

html {
  font-family: "SpokaHanSansNeo", sans-serif;
  font-size: 10px;
}

body {
  background-color: var(--color-bg);
  color: var(--color-text);
  font-size: 1.4rem;
}

header {
  background-color: var(--color-primary);
  color: var(--color-text);
  font-size: 1.4rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

main {
  background-color: var(--color-bg);
  color: var(--color-text);
  font-size: 1.4rem;
}

footer {
  background-color: var(--color-bg);
  color: var(--color-placeholder);
  font-size: 1.4rem;
}

/* 모바일 버전 */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.4rem 2rem;
  height: 7.6rem;
}

h1 a {
  display: block;
}

h1 a img {
  width: 9.2rem;
  height: 2.8rem;
}

.menu-toggle-btn {
  background: transparent;
  border: none;
  cursor: pointer;
}

.menu-toggle-btn img {
  width: 3.2rem;
  height: 3.2rem;
}

.nav-bar {
  display: none;
}

body {
  padding-top: 7.6rem;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero {
  background-color: var(--color-primary);
  width: 100%;
  height: auto;
  padding: 4rem 3.2rem 0rem;
  text-align: center;
}

.hero-text-group h3 {
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 3.2rem;
  max-width: 27.54rem;
  height: 9.6rem;
  margin: 0 auto 2rem;
  word-break: keep-all;
}

.hero-text-group p {
  line-height: 2.2rem;
  margin: 0 2.53rem;
}

.download-btn {
  margin: 2rem auto 0;
  display: block;
  max-width: 11.9rem;
  height: 4rem;
  padding: 1rem 2.4rem;
  background-color: var(--color-secondary);
  color: #fff;
  font-weight: 700;
  border: none;
  border-radius: 4rem;
  cursor: pointer;
  transition: opacity 0.3s;
}

.download-btn:hover {
  opacity: 0.9;
}

.hero img {
  display: block;
  width: 100%;
  max-width: 20.55rem;
  height: 36.2rem;
  margin: 3.2rem auto 0;
}
